@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Oswald:wght@300;400;500;700&display=swap');

html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family: Montserrat, sans-serif !important;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-transition: background-color 600000s 0s, color 600000s 0s;
    transition: background-color 600000s 0s, color 600000s 0s;
    background: transparent !important;
}

* {
    box-sizing: border-box
}

a {
    color: #242424;
    text-decoration: inherit;
}

.cursor {
    cursor: pointer;
}

