.formContainer {
    padding: 24px 24px 17px 24px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    border-radius: 20px;
}

.formLabel {
    font-size: 12px!important;
    margin-bottom: 8px;
    margin-left: 20px;
}

@media (max-width: 576px) {
    .formContainer {
        padding: 24px;
    }
}